.cart-body{
  /* background-color: rgb(239, 255, 255); */
}

.cart-body table{
  margin: auto;
  margin-top: 30px;
  width: 70%;
  background-color: rgb(208, 226, 226);
  text-align: center;

}


.cart-body .checkout-button {
	display:block;
  margin-left: 70%;

  margin-top: 1rem;

	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:.7rem;
	font-weight:bold;
	padding:1rem 1.3rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.cart-body .checkout-button:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.cart-body .checkout-button:active {
	position:relative;
	top:1px;
}

